@using MediatR
@using BradyWeather.Application.UseCases.Weather.Handlers
@using Microsoft.Extensions.Logging
@inject IMediator  Mediator
@inject ILogger<LocationSearch> Logger

<div>
    <img class="@GetSearchClass()" src="@GetSearchIcon()" />
    <input class="search" list="locations" @bind="@SearchQuery" @bind:event="oninput" @onchange="LocationSelected" placeholder="City" autocomplete="off" spellcheck="false" />
</div>

<datalist id="locations">
    @foreach (var location in locations.Take(10))
    {
        <option value="@CityState(location)"></option>
    }
</datalist>

<p>
    @if (noResults)
    {
        <span>No results.</span>
    }
</p>

@code {
    string searchQuery;
    bool isSearching;
    CancellationTokenSource currentSearchCts;
    Location[] locations = new Location[0];
    bool noResults;

    private string SearchQuery
    {
        get => searchQuery;
        set
        {
            searchQuery = value;
            if (!string.IsNullOrEmpty(searchQuery))
            {
                _ = SearchDebounced(searchQuery);
            }
        }
    }

    bool IsSearching => isSearching || currentSearchCts != null;

    [Parameter]
    public EventCallback<Location> LocationChanged { get; set; }


    async Task SearchDebounced(string query)
    {
        try
        {
            // Cancel any existing pending search, and begin a new one
            noResults = false;
            currentSearchCts?.Cancel();
            currentSearchCts = new CancellationTokenSource();
            var cancellationToken = currentSearchCts.Token;

            await Task.Delay(500);
            if (!cancellationToken.IsCancellationRequested)
            {

                locations = await Mediator.Send(new GetLocationsByTextRequest
                {
                    Search = query
                }, cancellationToken);

                if (!cancellationToken.IsCancellationRequested)
                {
                    noResults = locations.Length == 0;
                    currentSearchCts = null;
                }
            }

            StateHasChanged();
        }
        catch (OperationCanceledException) { }
        catch (Exception ex)
        {
            Logger.LogError(ex.StackTrace);
        }
    }

    void LocationSelected(ChangeEventArgs e)
    {
        var locationName = (string)e.Value;
        var selectedLocation = locations.FirstOrDefault(l => CityState(l) == locationName);
        if (selectedLocation != null)
        {
            searchQuery = null;
            noResults = false;
            locations = new Location[0];
            LocationChanged.InvokeAsync(selectedLocation);
        }
    }

    string CityState(Location location)
    {
        return $"{location.LocalizedName}, {location.AdministrativeArea.ID}";
    }

    string GetSearchClass()
    {
        return IsSearching ? "search-icon spinning" : "search-icon";
    }

    string GetSearchIcon()
    {
        return IsSearching ? "_content/BradyWeather.Razor.Library/icons/loop-circular.svg" : "_content/BradyWeather.Razor.Library/icons/magnifying-glass.svg";
    }

}
